# Custom ignored
.vscode
*.mp4
*.mov
# But keep test media fixtures in git
!test-media/*.mp4
!test-media/*.mp3
!test-media/*.mov
build/*
docs/_build
.DS_Store
__pycache__
*.pyc
.ipynb_checkpoints

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

python/build/
python/*egg-info/
python/dist/
